<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image" href="/img/Logo-StudiAva.svg">
        {% block style %}
            
        {% endblock %}
		{% block title %}
			<title>StudiAva</title>
		{% endblock %}
	</head>
	<body>
    {% block header %}
    {% include "/layout/header.twig" %}
    {% endblock %}

    {% block main %}
    
    {% endblock %}

    {% block footer %}
    {% include "/layout/footer.twig" %}
    {% endblock %}

    {% block script %}
    
    {% endblock %}
    </body>
</html>
