body {
    font-family: Helvetica, "Segoe UI", Verdana, sans-serif;
    margin: 0;
    background: rgb(22, 79, 178);
    background: linear-gradient(90deg, rgba(22, 79, 178, 0.08399856524641103) 0%, rgba(242, 85, 91, 0.09240192659094892) 100%);
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
}

header div {
    display: flex;
    align-items: center;
    color: #164fb2;
}

h1 {
    margin: 0;
}

nav {

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 10px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #605d5d;
    padding: 5px;
    transition: all 0.5s ease-in;
}

nav a:hover {
    color: #164fb2;
}


form{
    padding: 15px;
    background-color: white;
    margin: auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

form button{
    padding: 8px;
    background-color:#164fb2;
    margin: auto;
    color: white;
    border: none;
    width: max-content;
    border-radius: 8px;
}

.container-submit{
    margin: 40px;
    text-align: center;
}

.choice-container *{
    margin: 5px;
}


form label, form input, form select{
    padding: 5px;
}

form > div, form #additionalForm > div{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

a button{
    padding: 8px;
    background-color:#164fb2;
    margin: auto;
    color: white;
    border: none;
    width: max-content;
    border: #164fb2 solid 1px;
    border-radius: 8px;
    transition: all 0.5s ease-in;
}

a button:hover{
    background-color: white;
    color: #164fb2;
    border: solid #164fb2 1px;
    cursor: pointer;
}

.displayquestion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    margin: auto;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#delete{
    background-color: white;
    border: solid red 1px;
    color: red;
    transition: all 0.5s ease-in;

}

#delete:hover{
   background-color: red;
   color: white;
   cursor: pointer;

}

#titlequestions{
    margin: 2rem auto;
    width: 60%;
    font-size: larger;
    font-weight: 400;
}

.labelquestion{
    font-size: large;
    font-weight: 400;
}

.labelquestion p{
display: flex;
justify-content: space-between;

}

.align{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

#quizzContainer button{
margin: 2rem;
}

.choice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.choices{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}