{% block main %}
	<main>
		<h2>Bienvenue dans notre application de création de quiz !</h2>

		<p>Notre application vous permet de créer et personnaliser facilement des quiz interactifs pour divertir et éduquer vos utilisateurs.</p>

	

		<p>Pour commencer à créer vos propres quiz dès maintenant, cliquez sur le bouton ci-dessous :</p>
		<a  href="/addQuestion">Commencer</a>
	</main>


{% endblock %}
