{% block header %}
	<header>
		<div>
			<img src="/img/Logo-StudiAva.svg" alt="Studiava"/>
			<h1>StudiAva</h1>
		</div>
		<nav>
			<ul>
				<li><a href="/addQuestion">Ajouter question</a></li>
				<li><a href="/displayquestion">Afficher question</a></li>
				<li><a href="/quizz">Quizz</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}
